#titlebar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 1rem;
    gap: 1rem;
    background-color: var(--accent-color-1);
    border-radius: 1.5rem;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
}

#title-logo {
    max-width: 2rem;
    max-height: auto;
}