@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500&display=swap');

:root {
  --accent-color: #ff799f;
  --text-color: #362731;
}

body {
  margin: 0;
  padding: 1rem;
  font-family: 'League Spartan', sans-serif;
  color: var(--text-color);
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

p {
  margin: 0;
}